# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Poetry
dist/
*.egg-info/

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
